{% extends 'base.html' %}
{% load static %}

{% block main %}
<div class="container">
    <div class="row mt-5">
        {% if result %}
        {% for i in result %}
        <div class="col-md-3">
            <div class="card-group">
                <div class="card">
                  <img src="{{ i.prodimage.url}}" class="card-img-top" alt="..." height="300px">
                  <div class="card-body">
                    <h5 class="card-title">{{i.prodname|truncatechars:20}}</h5>
                    <p class="card-text">{{i.proddesc|truncatechars:30}}</p>
                    <p class="card-text">Rs. {{i.prodprice}}</p>
                  </div>
                  <div class="card-footer">
                    <!-- <button type="button" class="btn btn-primary">View Book</button> -->
                     <a href="{% url 'viewproduct' i.id %}" class="">View Product</a>
                  </div>
                </div>
            </div>             
        </div>
        {% endfor %}
        {% else %}
        <div>
            <p>No Products Found</p>
        </div>
        {% endif %}
    </div>
</div>
{% endblock main %}

